<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--    모바일 표시 이러한 거도 있구나 알 수 있다. 지금 너무 css에 신경쓸려고 하는데 그러지말자 안 예뻐도 된다.-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">-->

    <meta property="og:title" content="항해 도전!!">
    <meta property="og:description" content="나만의 항해 일지!">
    <meta property="og:image" content="images/og_selectshop.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!-- Bulma CSS //모달 팝업창 쓸 때 필요-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <title>항해 도전!!</title>

</head>

<style>
    body {
        margin: 0px;
    }
    .title {
        background-color: pink;

        width: 100%;
        height: 300px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding-top: 100px;
    }
    .contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card-body {
        background-color: #ffc10773;
    }
    .updateEdit {
        display: none;
    }
    .mainContents {
        margin: 50px;
    }
    #cards-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card {
        width: 500px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .commentCard{
        border: 1px solid gray;
    }
</style>

<script>
    $(document).ready(function () {
        getMessages();
        getComments()
    })

    //상세 게시글 보여주기
    function getMessages() {
        $('#posting-box').empty();
        let idx = location.href.split("/")[5];
        console.log(idx);
        $.ajax({
            type: "GET",
            url: `/api/blogs/contents/${idx}`,
            data: {},
            success: function (response) {
                console.log(response);

                let id = response['postNum'];
                let username = response['username'];
                let title = response['title'];
                let contents = response['contents'];
                let modifiedAt = response['modifiedAt'];
                console.log(id, username, title, contents, modifiedAt);

                addHTML(id, username, title, contents, modifiedAt);
            }
        });
    }
    function addHTML(id, username, title, contents, modifiedAt) {
        let tempHtml = makeMessage(id, username, title, contents, modifiedAt);
        $('#posting-box').append(tempHtml);
    }

    function makeMessage(id, username, title, contents, modifiedAt) {
        return `
                        <article class="media">
                            <div class="media-content">
                                <!--contents 조회/수정-->
                                <div class="contents">
                                    <div id="${id}-titleContent" class="text">
                                        ${title}
                                    </div>
                                    <div id="${id}-editTitle" class="updateEdit">
                                        <input id="${id}-update-title" class="update is-title" placeholder="제목">
                                    </div>
                                    <div id="${id}-writerContent" class="text">
                                        ${username}
                                    </div>
                                    <div id="${id}-dateContent" class="text">
                                        ${modifiedAt}
                                    </div>

                                    <div id="${id}-contents" class="text">
                                        ${contents}
                                    </div>
                                    <div id="${id}-editArea" class="edit">
                                        <textarea id="${id}-update-textarea" class="textarea updateEdit"></textarea>
                                    </div>
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">

                                    </div>
                                    <div class="level-right">
                                        <div class="level-item">
                                            <a id="${id}-edit" onclick="editPost('${id}')">수정하기</a>
                                        </div>
                                        <div class="level-item"> <!--수정할 때 보이기-->
                                            <a id="${id}-submit" class="updateEdit" onclick="submitEdit('${id}')">저장하기</a>
                                        </div>
                                        <div class="level-item"> <!--수정할 때 보이기-->
                                            <a id="${id}-cancel" class="updateEdit" onclick="hideEdits('${id}')">수정취소</a>
                                        </div>
                                        <div class="level-item">
                                            <a id="delete" onclick="deleteOne('${id}')">삭제하기</a>
                                        </div>
                                        <div class="level-item">
                                            <a class="button"
                                               onclick='$("#${id}-modal-detail").removeClass("is-active")'>취소</a>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </article>`;
    }


    //작성내용 제한
    function isValidContents(contents) {
        if (contents == '') {
            alert('내용을 입력해주세요');
            return false;
        }
        if (contents.trim().length > 140) {
            alert('공백 포함 140자 이하로 입력해주세요');
            return false;
        }
        return true;
    }

    //글 작성하기
    function writePost() {
        let title = $('#input-title').val();
        let contents = $('#textarea-post').val();

        if (isValidContents(contents) == false) {
            return;
        }

        let data = {'title':title, 'contents': contents};

        $.ajax({
            type: "POST",
            url: "/api/blogs",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                alert('메시지가 성공적으로 작성되었습니다.');
                //홈 page으로 이동 - 참고 : https://devilfront.tistory.com/38
                let url = `/`;
                location.replace(url);
            }
        });
    }

    //게시글 수정하기 버튼
    // 수정 버튼을 눌렀을 때, 기존 작성 내용을 수정박스(textarea)에 전달합니다.
    function editPost(id) {
        showEdits(id);
        //제목수정
        let updateTile = $(`#${id}-titleContent`).text().trim();
        $(`#${id}-update-title`).val(updateTile);

        //내용 수정
        let updateContent = $(`#${id}-contents`).text().trim();
        $(`#${id}-update-textarea`).val(updateContent);
    }

    function showEdits(id) {
        $(`#${id}-editTitle`).show();
        $(`#${id}-submit`).show();
        $(`#${id}-update-textarea`).show();
        $(`#${id}-cancel`).show();

        $(`#${id}-titleContent`).hide();
        $(`#${id}-dateContent`).hide();
        $(`#${id}-contents`).hide();
        $(`#${id}-edit`).hide();
    }

    function hideEdits(id) {
        $(`#${id}-editTitle`).hide();
        $(`#${id}-submit`).hide();
        $(`#${id}-update-textarea`).hide();
        $(`#${id}-cancel`).hide();

        $(`#${id}-titleContent`).show();
        $(`#${id}-dateContent`).show();
        $(`#${id}-contents`).show();
        $(`#${id}-edit`).show();
    }

    //수정한거 저장하기
    function submitEdit(id) {
        let title = $(`#${id}-update-title`).val().trim();
        let contents = $(`#${id}-update-textarea`).val().trim();
        if (isValidContents(contents) == false) {
            return;
        }
        let data = {'title': title, 'contents': contents};

        $.ajax({
            type: "PUT",
            url: `/api/blogs/${id}`,
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                alert('메시지 변경에 성공하였습니다.');
                window.location.reload();
            }
        });
    }

    //삭제하기 id ==postNum
    function deleteOne(id) {
        $.ajax({
            type: "DELETE",
            url: `/api/blogs/${id}`,
            success: function (response) {
                alert('게시글 삭제 성공하였습니다.')
                //홈 page으로 이동 - 참고 : https://devilfront.tistory.com/38
                let url = `/`;
                location.replace(url);
            }
        })
    }

    //코멘트 관련 JS 작성
    //댓글 수정하기 눌렀을 때
    function showCommentEdits(id) {
        $(`#${id}-comment-submit`).show();
        $(`#${id}-comment-cancel`).show();
        $(`#${id}-comment-editarea`).show();

        $(`#${id}-reply`).hide();
        $(`#${id}-comment-edit`).hide();
    }

    function hideCommentEdits(id) {
        $(`#${id}-comment-submit`).hide();
        $(`#${id}-comment-cancel`).hide();
        $(`#${id}-comment-editarea`).hide();

        $(`#${id}-reply`).show();
        $(`#${id}-comment-edit`).show();
    }

    //댓글 작성
    function writeReply() {
        //http://localhost:8080/api/detail/2 여기서 "/" 기준으로 다섯번쨰 값을 가져오겠다.
        //location.href.split("/")  -> ['http:', '', 'localhost:8080', 'api', 'detail', '2']
        //location.href.split("/")[5]  ->  '2'
        let postnum = location.href.split("/")[5];
        console.log(postnum);
        let contents = $('#reply').val();

        if (isValidContents(contents) == false) {
            return;
        }

        let data = {'postNum': postnum, 'contents': contents};

        $.ajax({
            type: "POST",
            url: "/api/blogs/comments",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
                alert('메시지가 성공적으로 작성되었습니다.');
                window.location.reload();
            }
        });
    }
    //상세 게시글 댓글 보여주기
    function getComments() {
        // $('#comment-box').empty();

        $.ajax({
            type: "GET",
            url: "/api/blogs/comments",
            data: {},
            success: function (response) {
                let idx = location.href.split("/")[5];
                console.log(idx);
                console.log(response);
                    let id = response['postNum'];
                    let username = response['username'];
                    let contents = response['contents'];
                    let modifiedAt = response['modifiedAt'];
                    console.log(id, username, contents, modifiedAt);


                    if(idx===id){
                        addCommentHTML(id, username, contents, modifiedAt);
                    }

            }
        });
    }
    function addCommentHTML(id, username, contents, modifiedAt) {
        let tempHtml = makeComments(id, username, contents, modifiedAt);
        $('#comment-box').append(tempHtml);
    }
    function makeComments(id, username, contents, modifiedAt) {
        return `<div class="metadata">
                                <div id="${id}-name" class="name">
                                    ${username}
                                </div>
                                <div id="${id}-date" class="date">
                                    ${modifiedAt}
                                </div>
                            </div>
                            <div class="commentContents updateCommentEdit" id="${id}-reply">
                                ${contents}
                            </div>
                            <div id="${id}-comment-editarea" class="edit">
                                <textarea id="${id}-textarea-comment" class="te-edit" name="" cols="30" rows="5"></textarea>
                            </div>
                            <div class="level-left">

                            </div>
                            <div class="level-right">
                                <div class="level-item">
                                    <a id="${id}-comment-edit" onclick="editComment('${id}')">댓글수정</a>
                                </div>
                                <div class="level-item"> <!--수정할 때 보이기-->
                                    <a id="${id}-comment-submit" class="updateCommentEdit" onclick="submitComment('${id}')">수정댓글저장</a>
                                </div>
                                <div class="level-item">
                                    <a id="${id}-comment-delete" onclick="deleteOneComment('${id}')">댓글삭제</a>
                                </div>
                                <div class="level-item">
                                    <a id="${id}-comment-cancel" class="button" onclick='$("#${id}-comment-editarea").hide()'>댓글작성취소</a>
                                </div>
                            </div>`;
    }
</script>

<body>
<div class="title">
    <h1>나의 항해 블로그</h1>
    <div class="media-content">
        <div class="field">
            <p class="control">
                <a id="login-text" href="/user/login"> 로그인 </a>
                <a id="signup-text" href="/user/signup"> 회원가입 </a>
                <button class="btn btn-danger" onclick='$("#modal-post").addClass("is-active")'>작성하기</button>
            </p>
        </div>
    </div>
</div>
<section class="post">
    <div class="modal" id="modal-post">
        <div class="modal-background" onclick='$("#modal-post").removeClass("is-active")'></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="field">
                            <p class="control">
                                <input id="input-title" class="input is-title" placeholder="제목">
                            </p>
                            <p class="control">
                                            <textarea id="textarea-post" class="textarea"
                                                      placeholder="오늘 항해 이야기 적어주세요."></textarea>
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">

                            </div>
                            <div class="level-right">
                                <div class="level-item">
                                    <a class="button is-sparta" onclick="writePost()">포스팅하기</a>
                                </div>
                                <div class="level-item">
                                    <a class="button is-sparta is-outlined"
                                       onclick='$("#modal-post").removeClass("is-active")'>취소</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"
                onclick='$("#modal-post").removeClass("is-active")'></button>
    </div>
</section>
<section class="mainContents">
    <div id="cards-box">
        <div class="detail" id="detail">
                <div class="box" id="posting-box">
                    <article class="media">
                        <div class="media-content">
                            <!--contents 조회/수정-->
                            <div class="contents">
                                <div id="1-titleContent" class="text">
                                    제목
                                </div>
                                <div id="1-editTitle" class="updateEdit">
                                    <input id="1-update-title" class="update is-title" placeholder="제목">
                                </div>
                                <div id="1-writerContent" class="text">
                                    작성자
                                </div>
                                <div id="1-dateContent" class="text">
                                    날짜
                                </div>
                                <div id="1-contents" class="text">
                                    내용 작성
                                </div>
                                <div id="1-editArea" class="edit">
                                    <textarea id="1-update-textarea" class="textarea updateEdit" ></textarea>
                                </div>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">

                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <a id="1-edit" onclick="editPost('1')">수정하기</a>
                                    </div>
                                    <div class="level-item"> <!--수정할 때 보이기-->
                                        <a id="1-submit" class="updateEdit" onclick="submitEdit('1')">저장하기</a>
                                    </div>
                                    <div class="level-item">
                                        <a id="delete" onclick="deleteOne('1')">삭제하기</a>
                                    </div>
                                    <div class="level-item">
                                        <a class="button"
                                           onclick='$("#modal-detail").removeClass("is-active")'>취소</a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <!--comment contents 조회/수정-->
                        <div>
                            <div class="form-floating comment-box">
                                <textarea class="form-control" placeholder="댓글을 입력해주세요" id="reply"></textarea>
                                <label for="reply">댓글을 입력해주세요</label>
                            </div>
                            <div class="level-right">
                                <div class="level-item">
                                    <button id="comment-save" class="btn btn-danger" onclick="writeReply()">댓글달기</button>
<!--                                    <a id="comment-save" onclick="writeReply()">댓글달기</a>-->
                                </div>
                            </div>
                        </div>

                        <div id="comment-box" class="commentCard">
                            <div class="metadata">
                                <div id="839-name" class="name">
                                    hjyg
                                </div>
                                <div class="date">
                                    2022-05-30 21:07:55
                                </div>
                            </div>
                            <div class="commentContents updateCommentEdit" id="839-reply">
                                그만큼 신나신다는거지
                            </div>
                            <div id="839-comment-editarea" class="edit">
                                <textarea id="839-textarea-comment" class="te-edit" name="" cols="30" rows="5"></textarea>
                            </div>
                            <div class="level-left">

                            </div>
                            <div class="level-right">
                                <div class="level-item">
                                    <a id="1-comment-edit" onclick="editComment('1')">댓글수정</a>
                                </div>
                                <div class="level-item"> <!--수정할 때 보이기-->
                                    <a id="1-comment-submit" class="updateCommentEdit" onclick="submitComment('1')">수정댓글저장</a>
                                </div>
                                <div class="level-item">
                                    <a id="1-comment-delete" onclick="deleteOneComment('1')">댓글삭제</a>
                                </div>
                                <div class="level-item">
                                    <a id="1-comment-cancel" class="button" onclick='$("#839-comment-editarea").hide()'>댓글작성취소</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
</body>
</html>